# {{ ansible_managed }}
# {{ src_comment }}

## interface config
/interface gre add \
comment="{{ src_comment }}" \
name="{{ src_iface }}" \
keepalive="{{ tun_keepalive }}" \
local-address="{{ src_ip }}" \
remote-address="{{ dst_ip }}" \
allow-fast-path="no" \
ipsec-secret="{{ ipsec_secret }}"

## ip address config
/ip address add \
comment="{{ src_comment }}" \
address="{{ src_tun_ip }}/{{ tun_netmask }}" \
interface="{{ src_iface }}"

## static route config
/ip route add \
comment="{{ src_comment }}" \
dst-address="{{ dst_lan_net }}" \
gateway="{{ dst_tun_ip }}" \
pref-src="{{ src_lan_gw }}"

## nat
/ip firewall nat
add action=masquerade chain=srcnat src-address="{{ src_lan_net }}" dst-address="{{ dst_lan_net }}" out-interface="{{ src_iface }}" comment="{{ src_comment }}"

## fix dyn ipsec
/system scheduler
add interval=10m \
start-date=jan/01/1970 \
start-time=01:00:00 \
name="fix_dyn_ipsec_{{ src_iface }}" \
on-event="/interface gre set [find name={{ src_iface }}] remote-address=[:resolve {{ dst_ip }}] local-address=[:resolve {{ src_ip }}]"
