# {{ ansible_managed }}
# {{ dst_comment }}

## interface config
/interface gre add \
comment="{{ dst_comment }}" \
name="{{ dst_iface }}" \
keepalive="{{ tun_keepalive}}" \
local-address="{{ dst_ip }}" \
remote-address="{{ src_ip }}" \
allow-fast-path="no" \
ipsec-secret="{{ ipsec_secret }}"

## ip address config
/ip address add \
comment="{{ dst_comment }}" \
address="{{ dst_tun_ip }}/{{ tun_netmask }}" \
interface="{{ dst_iface }}"

## static route config
/ip route add \
comment="{{ dst_comment }}" \
dst-address="{{ src_lan_net }}" \
gateway="{{ src_tun_ip }}" \
pref-src="{{ dst_lan_gw }}"

## fix dyn ipsec
/system scheduler
add interval=10m \
name="fix_dyn_ipsec_{{ dst_iface }}" \
on-event="/interface gre set [find name={{ dst_iface }}] remote-address=[:resolve {{ src_ip }}] local-address=[:resolve {{ dst_ip }}]"
